---
import { Icon } from 'astro-icon'
export interface Props {
  port: Port
}

let { port } = Astro.props as Props
let maintainers = []
port.maintainers.forEach(m => {
  maintainers.push({"name": m.name, "url": m.url})
})
maintainers = Array.from(new Set(maintainers))

---
<li class="h-full" x-show={`filtered.has('port-${ port.name }')`}>
  <a
    rel="external"
    target="_blank"
    href={port.repo}
    class="px-2 py-8 sm:py-12 btn card card-compact p-0 h-full drop-shadow-xl shadow-lg hover:shadow-primary hover:shadow"
  >
    <h2
      class="font-display font-semibold text-md sm:text-lg text-center tracking-wide normal-case break-words"
    >
      {port.name}
    </h2>
    <h3
      class="font-display font-medium text-xs sm:text-base text-center tracking-wide normal-case break-words whitespace-nowrap overflow-hidden overflow-ellipsis"
    >
      {maintainers.map(m => {
        if (maintainers.indexOf(m) == maintainers.length - 1) {
          return <a href={m.url}>{m.name}</a>
        }
        return <a href={m.url}>{m.name}</a><p class="inline">, </p>
      })}
    </h3>

    <div class="mt-4 space-x-3 flex items-center">
      <div class="w-5 h-5 flex items-center justify-center">
        <Icon name="bi:moon-stars" class="w-6 h-6 text-tropo" />
      </div>

      {port.variants && <div class="w-5 h-5 flex items-center justify-center">
          <Icon name="cil:sun" class="w-8 h-8 text-magma" />
        </div>}
    </div>
  </a>
</li>
